<ul id="merchant-<%= @merchant.id %>-profile-info">
	<h1>Merchant Profile Info</h1>
	<li>Name: <%= @merchant.name %></li>
	<li>Email: <%= @merchant.email %></li>
	<li>Address: <%= @merchant.address %></li>
	<li>City: <%= @merchant.city %></li>
	<li>State: <%= @merchant.state %></li>
	<li>Zip Code: <%= @merchant.zip %></li>
	<% if current_admin? %>
		<%= link_to "Downgrade to User", admin_downgrade_merchant_path, method: :post %>
	<% end %>
</ul>
