<%= link_to "Add New Item", new_dashboard_item_path %>

<% current_user.items.each do |item| %>

  <ul id="merchant-item-<%= item.id %>" class="item-card">
    <li>Item ID: <%= item.id %></li>
    <li><%= item.name %></li>
    <li><img src=<%= item.image %> width=200 /></li>
    <li>Current Price: <%= item.price %></li>
    <li>Inventory: <%= item.inventory %></li>
    <li><%= link_to "Edit #{item.name}", edit_dashboard_item_path(item.id) %></li>

    <% if item.active?%>
      <li><%= button_to "Disable", disable_item_path(item) %></li>
    <% else %>
      <li><%= button_to "Enable", enable_item_path(item) %></li>
    <% end %>

    <% if OrderItem.find_by(item_id: item.id) == nil %>
      <li><%= button_to "Delete Item", delete_item_path(item), method: :delete %></li>
    <% end %>

  </ul>
<% end %>

<!-- OrderItem.find_by(item_id: item.id) -->
