<ul id="merchant-profile-info">
	<h1>Merchant Profile Info</h1>
	<li>Name: <%= @merchant.name %></li>
	<li>Email: <%= @merchant.email %></li>
	<li>Address: <%= @merchant.address %></li>
	<li>City: <%= @merchant.city %></li>
	<li>State: <%= @merchant.state %></li>
	<li>Zip Code: <%= @merchant.zip %></li>
	<%= link_to "View My Items", dashboard_items_path %>
	<%= link_to "Login", dashboard_path %>
</ul>


<section id="merchant-dash-stats">
	<h1>Merchant Dashboard Statistics</h1>
	<section id="top-five-items-sold">
		<h3>Top Five Items Sold by Quantity</h3>
		<ol>
			<% @top_five_items_sold.each do |item| %>
				<li><%= item.name %>: <%= item.item_quantity %> Sold</li>
			<% end %>
		</ol>
	</section>
</section>
