<ul id="merchant-profile-info">
	<h1>Merchant Profile Info</h1>
	<li>Name: <%= @merchant.name %></li>
	<li>Email: <%= @merchant.email %></li>
	<li>Address: <%= @merchant.address %></li>
	<li>City: <%= @merchant.city %></li>
	<li>State: <%= @merchant.state %></li>
	<li>Zip Code: <%= @merchant.zip %></li>
</ul>
