<ul id="merchant-profile-info">
	<h1>Merchant Profile Info</h1>
	<li>Name: <%= @merchant.name %></li>
	<li>Email: <%= @merchant.email %></li>
	<li>Address: <%= @merchant.address %></li>
	<li>City: <%= @merchant.city %></li>
	<li>State: <%= @merchant.state %></li>
	<li>Zip Code: <%= @merchant.zip %></li>
	<%= link_to "View My Items", dashboard_items_path %>
	<%= link_to "Login", dashboard_path %>
</ul>


<section id="merchant-dash-stats">
	<h1>Merchant Dashboard Statistics</h1>

	<section id="top-five-items-sold">
		<h3>Top Five Items Sold by Quantity</h3>
			<ol>
				<% if @top_five_items_sold != nil %>
					<% @top_five_items_sold.each do |item| %>
						<li><%= item.name %>: <%= item.item_quantity %> Sold</li>
					<% end %>
				<% else %>
					<li>No items exist</li>
				<% end %>
			</ol>
	</section>

	<section id="total-items-sold">
		<h3>Total Quantity Sold</h3>
		<ul>
			<% if @all_items_sold != nil %>
				<li>Total Quantity Sold: <%= @all_items_sold %></li>
				<li>Total Starting Inventory: <%= @total_starting_inventory %></li>
				<% if @total_starting_inventory > 0 %>
					<li>Sold <%= @all_items_sold %> items, which is <%= number_to_percentage(100 * @all_items_sold / @total_starting_inventory, precision: 0) %> of your total inventory</li>
				<% end %>
			<% else %>
				<li>No items sold</li>
			<% end %>
		</ul>
	</section>

	<section id="top-three-states-for-items-shipped">
		<h3>Top Three States for Items Shipped</h3>
		<ul>
			<% if @top_three_states != nil %>
				<% @top_three_states.each do |shipment_state| %>
					<li>State of <%= shipment_state.state %>: <%= shipment_state.shipments %> items shipped</li>
				<% end %>
			<% else %>
				<li>No orders exist</li>
			<% end %>
		</ul>
	</section>

	<section id="top-three-citystates-for-items-shipped">
		<h3>Top Three Cities for Items Shipped</h3>
		<ul>
			<% if @top_three_citystates != nil %>
				<% @top_three_citystates.each do |shipment_citystate| %>
					<li>City of <%= shipment_citystate.citystate %>: <%= shipment_citystate.shipments %> items shipped</li>
				<% end %>
			<% else %>
				<li>No orders exist</li>
			<% end %>
		</ul>
	</section>

	<section id="top-user-by-orders">
		<h3>Top User By Orders</h3>
		<ul>
			<% if @top_user_by_orders != nil %>
				<li><%= @top_user_by_orders.name %>: <%= @top_user_by_orders.orders.length %> orders</li>
			<% else %>
				<li>No Current Orders<li>
			<% end %>
		</ul>
	</section>

	<section id="top-user-by-items">
		<h3>Top User By Items</h3>
		<ul>
			<% if @top_user_by_items != nil %>
				<li><%= @top_user_by_items[:user_name] %>: <%= @top_user_by_items[:unique_items] %> items</li>
			<% else %>
				<li>No Current Items<li>
			<% end %>
		</ul>
	</section>

</section>
