<%= link_to "Admin Dashboard", admin_dashboard_path %>
<%= link_to "Login", admin_dashboard_path %>
<% @orders.each do |order| %>
  <section id='admin-dashboard-order-<%= order.id %>'>
    <h4>Order ID:</h4> <%= order.id %>
    <h4>Order Created At:</h4> <%= order.created_at %>
    <h4>Order Status:</h4> <%= order.status %>
    <h4>User Profile:</h4> <%= link_to order.user.name, admin_user_path(order.user) %>

    <% if order.status == "packaged" %>
      <%= button_to "Ship Order", ship_packaged_order_path(order) %>
    <% end %>

  </section>
<% end %>
