<% @active_items.each do |item| %>
	<section id="item-<%= item.id %>" class="item-card">
		<%= item.name %>
		<%= item.price %>
		<%= item.image %>
		<%= item.user.name %>
		<%= item.inventory %>
	</section>
<% end %>
