<% @active_items.each do |item| %>
	<ul id="item-<%= item.id %>" class="item-card">
		<li>Item Name: <%= link_to item.name, item_path(item.id) %></li>
		<li><img src=<%= item.image %> width=200 /></li>
		<li>Price: <%= item.price %></li>
		<li>Merchant Name: <%= item.user.name %></li>
		<li>Inventory: <%= item.inventory %></li>
	</ul>
<% end %>
