<!DOCTYPE html>
<html>
  <head>
    <title>LittleShopV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>






  <body>


		<ul id="most-popular-items">
			<h3>Most Popular Items</h3>

			<% @most_popular.each do |item| %>
				<li>Item: <%= item.name %></li>
				<li>Total Ordered: <%= item.sum  %></li>
			<% end %>
		</ul>

		<ul id="least-popular-items">
			<h3>Least Popular Items</h3>

			<% @least_popular.each do |item| %>
				<li>Item: <%= item.name %></li>
				<li>Total Ordered: <%= item.sum  %></li>
			<% end %>
		</ul>

		<% @active_items.each do |item| %>
			<section class="card" style="width: 18rem;">
				<ul id="item-<%= item.id %>" class="item-card">
					<img src=<%= item.image %> class="card-img-top" />
					<p>Item Name: <%= link_to item.name, item_path(item) %></p>
					<p>Price: <%= number_to_currency(item.price) %></p>
					<p>Merchant Name: <%= item.user.name %></p>
					<p>Inventory: <%= item.inventory %></p>
				</ul>
			</section>
		<% end %>




		<div class="card" style="width: 18rem;">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>


		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
